:root {
    --body-background: #FFFFFF;
    --footer-background: #E5E5E5;
    --main-font-color: #2A2A2A;
    --black-1: #000000;
    --gray-1: #808080;
    --gray-2: #4A4A4A;
    --gray-3: #333333;
    --gray-4: #999999;
    --gray-5: #AFB1BD;
    --gray-6: #F0F0F5;
    --gray-7: #E6E6EB;
    --pink-1: #f67599;
}