// 變數%開頭搭配@extend使用
%position-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%connect-line {
  position: absolute;
  top: 13px;
  left: 128px;
  height: 2px;
  width: 60px;
}

%circle-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 auto;
}

%checkout-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  color: var(--main-font-color);
}

%form-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: var(--main-font-color);
}

%form-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--gray-1);
  margin-bottom: 8px;
}

%form-border {
  border-radius: 4px;
  border: 1px solid var(--gray-2);
}

%input-size {
  width: 346px;
  height: 40px;
}

%placeholder-font {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-left: 16px;
  color: var(--gray-4);
}

%select-wrapper {
  content: " ";
  border-style: solid;
  border-width: 5px 4.5px 0 4.5px;
  border-color: var(--main-font-color) transparent transparent transparent;
  transform: translateY(-50%);
  z-index: -1;
}
%select-element {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: transparent;
  padding-left: 16px;
}

%ship-border {
  border: 1px solid var(--gray-6);
  border-radius: 4px;
  width: 346px;
  height: 60px;
}

%ship-title {
  color: var(--black-1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

%ship-date,
%ship-fee {
  color: var(--black-1);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

%dhl-font {
  color: var(--black-1);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-family: "Noto Sans TC";
}

%cvc-font {
  color: var(--black-1);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  font-family: "Noto Sans TC";
}

%cart-container {
  width: 345px;
  height: 358px;
  margin: 32px 0;
  padding: 18px 16px 16px 16px;
  border: 1px solid var(--gray-6);
  border-radius: 8px;
}

%product-name {
  color: var(--main-font-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Noto Sans TC";
}

%counter-icons {
  width: 26px;
  height: 27px;
  border-radius: 50%;
  color: var(--black-1);
  background-color: var(--gray-6);
  text-align: center;
}

%product-price {
  color: var(--black-1);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

%btnMinus-size {
  width: 1.8px;
  height: 10.84px;
  border-radius: 2px;
  font-size: large;
}

%btnPlus-size {
  width: 1.73px;
  height: 11.25px;
  border-radius: 2px;
  font-size: large;
}

%btn-outline {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black-1);
}

%btn-next {
  width: 156px;
  height: 46px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--pink-1);
  color: var(--body-background);
  width: 10rem;
  position: absolute;
  top: 0;
  left: 358px;
}

%btn-done {
  background-color: #f67599;
  color: var(--body-background);
  position: absolute;
  top: 0;
  left: 358px;
}

%fee-title {
  color: var(--main-font-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Noto Sans TC";
}

%fee-price {
  color: var(--black-1);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
