// 變數@mixin搭配@include
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null){
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin flex ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin getStepNums ($num) {
	@for $i from 1 through $num {
		&:nth-child(#{$i}) .circle-container::after {
			content: "#{$i}";
		}
		}	
}

// Wed 桌機版 mix-width: 375px

@mixin checkTitle () {
	position: absolute;
	top: 80px;
	left: 0;
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
	font-family: 'Noto Sans TC';
}

@mixin steeperTitle () {
	display: flex;
  margin-left: 8px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--main-font-color);
}

@mixin connectLine () {
	position: absolute;
	top: 11.5px;
	left: 128px;
	height: 1px;
	width: 60px;
}

@mixin cartTitle () {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: var(--main-font-color);
}

@mixin grid($columns, $row) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $row;
}

@mixin gridItemColumn($start, $end) {
  grid-column-start: $start;
  grid-column-end: $end;
}

@mixin gridItemRow($start, $end) {
  grid-row-start: $start;
  grid-row-end: $end;
}