.form-part__payment {
  width: 540px;
  height: 288px;
  margin-top: 24px;
  label {
    font-size: 12px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 64px;
    margin-bottom: 24px;
  }
  > .form-row {
    @include flex(row, space-between, flex-start);
    width: 100%;
    :nth-child(1) {
      margin-right: 0;
      padding-right: 1rem;
    }
  }
  #credit-name,
  #credit-number {
    margin-top: 8px;
    height: 40px;
    width: 350px;
  }
  #credit-expire,
  #credit-cvc {
    width: 100%;
    margin-top: 8px;
    height: 40px;
  }
  input[type="text"]::placeholder {
    padding-left: 16px;
  }
}